{{#each recipes as |recipe|}}
  <div class="card">
    <div class="card-container">
      <div class="card-body">
        <h3>{{recipe.title}}</h3>
        <h4>Instructions:</h4><h5>{{recipe.instructions}}</h5>
        <button data-id="{{recipe.id}}" class="btn btn-primary btn-sm edit-button">Edit Recipe</button>
        <button type="button" class="delete-button btn btn-danger btn-sm" data-id="{{recipe.id}}">Delete Recipe</button>
        <br><br>
      </div>
      <div data-id="edit{{recipe.id}}" class="edit-section section collapsed">
        <hr>
        <button data-id="{{recipe.id}}" type=button class="close no-edit">&times;</button>
        <form class="edit-recipe form-inline" data-id="{{recipe.id}}">
          <strong>Title</strong> <input type="text" name="recipe[title]" placeholder="recipe title" class="form-control">
          <strong>Instructions</strong> <textarea name="recipe[instructions]" form="edit-recipe" class="form-control" placeholder="Recipe Instructions"></textarea>
          <button type="submit" class="btn btn-primary btn-sm card-button">Save</button>
        </form>
      </div>
    </div>
  </div>
{{/each}}
